#slider-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#testimonials {
    position: relative;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    width: 1000px;
    height: 450px;
    text-align: center;
}
figure {...
}
#testimonials h1 {...
}
blockquote {...
}
@-webkit-keyframes slider {...
}
@keyframes slider {...
}
#testimonials {...
}
#footer {
    text-align: center;
    background-color:black ;
}
#footer span{
    color: white;
    text-align: center;
}